/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

/* Header Section */
.hero {
    background-image: url('/images/hero.webp');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2rem;
    text-align: center;

}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
	/* text-shadow */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9), 0 0 0.5em rgba(0, 0, 0, 0.9);
}

.hero p {
    font-size: 1.25rem;
	/* text-shadow */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9), 0 0 0.5em rgba(0, 0, 0, 0.9);
}

/* Recipe List */
.container {
    max-width: 800px;
    margin: 2rem auto;
}

.recipe-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.recipe-item {
    background: white;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.recipe-item:hover {
    transform: scale(1.02);
}

.recipe-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
	aspect-ratio: 16/9;
	/* cover */
	object-fit: cover;
}

.recipe-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.modal-content h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.modal-content h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.modal-content p {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

.modal-content ul {
	list-style-type: none;
	margin-bottom: 1rem;
}

.modal-content ul li {
	margin-bottom: 0.5rem;
}

.modal-content img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
	aspect-ratio: 4/1;
	/* cover */
	object-fit: cover;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}
